@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
    font-family: 'Open Sans', sans-serif !important;
}

.btn.btn-primary {
    border-radius: 10em;
}

.jumbotron.text-center {
    background-color: #fff;
    color: #4a4a4a;
}

#profile-pic {
    box-shadow: 0px 4px 6px 2px lightgrey;
}

#project-row {
    display: inline-block;
}

#mytitle {
    -vendor-animation-delay: 1s;
    animation-delay: 1s;
}

#socialrow {
    -vendor-animation-delay: 1.5s;
    animation-delay: 1.5s;
    margin-top: 3.5rem;
}

#about {
    background-color: #1e1e19;
    color: #F0F9CE;
    -webkit-clip-path: polygon(0 0%, 100% 10%, 100% 90%, 0% 100%);
    clip-path: polygon(0 0%, 100% 10%, 100% 90%, 0% 100%);
    padding-top: 4rem;
    background: url("../images/bliss.png") top -220px center no-repeat,linear-gradient(148deg, #010504, #08151B);
}

.subtitle {
    font-style: italic;
    margin-top: 9rem;
    margin-bottom: 3rem;
}

.skills {
    margin-bottom: 8rem;
}

.content {
    font-size: 21px;
}

.devicons {
    font-size: 5em;
    padding: 3rem !important;
    display: inline-block;
}

#dev-icons {
    background-color: #01050480;
    padding: 1em;
    border-radius: 5px;
    box-shadow: 0 0px 20px #F0F9CE4D, 0 6px 6px rgba(0,0,0,0.23);
}

.card {
  position: relative;
  display: inline-block;
  height: 210px;
  width: 300px;
  background-color: #eaeaea;
  border-radius: 5px;
  margin: 1rem;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.card::after {
  content: "";
  border-radius: 5px;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  opacity: 0;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.card:hover {
  -webkit-transform: scale(1.25, 1.25);
  transform: scale(1.25, 1.25);
}

.card:hover::after {
    opacity: 1;
}

.card-title {
    margin: 2rem;
}

footer p {
    font-weight: bold;
}



