@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700');

html body {
    background-color: #EEEEEE;
    font-family: 'Ubuntu Mono', monospace;
}

.buttons {
    padding-left: 8px;
    padding-top: 3px;
    float: left;
    line-height: 0px;
    position: absolute;
}

.closebtn {
    background: #DC3023;
    font-size: 9pt;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    display: inline-block;
}

.c-card {
    background: #fff;
    border-radius: 5px;
    margin-top: 4rem;
    border: 0 !important;
    box-shadow: 12px 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    padding: 2rem 2rem;
}

.lt-header {
    height: 22px;
}

#profile {
    box-shadow: 5px 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    border-radius: 15%;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 1rem;
}

#nametag {
    font-size: 2em;
}

.minimize {
    background: #FFA400;
    font-size: 9pt;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    display: inline-block;
}

.shell-wrap {
    width: 90%;
    box-shadow: 5px 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);    
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.shell-top-bar {
    text-align: center;
    color: white;
    padding: 5px 0;
    margin: 0;
    font-size: 0.85em;
    border-bottom: none;
    -webkit-border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-topright: 3px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background: #2d3436;
}

.shell-top-bar p {
    display: inline;
}

.shell-body {
    margin: 0;
    padding: 5px;
    list-style: none;
    background: #141414;
    color: #45D40C;
    font: 0.8em 'Andale Mono', Consolas, 'Courier New';
    line-height: 1.6em;

    -webkit-border-bottom-right-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -moz-border-radius-bottomright: 3px;
    -moz-border-radius-bottomleft: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

.shell-body li:before {
    content: '$';
    position: absolute;
    left: 0;
    top: 0;
}

.shell-body li {
    word-wrap: break-word;
    position: relative;
    padding: 0 0 0 15px;
}

.sub {
    display: inline-block;
    padding-left: 2rem;    
}

@media only screen and (max-width: 767px) {
    .sub {
        padding-left: 0; 
    }
}

.sub-text {
    font-style: italic;
    background: #eeeeee;
    font-weight: bold;
    padding: 0.3rem;
    border-radius: 8px;
    margin-bottom: 0.5rem; 
}

.zoom {
    background: #4cd137;
    font-size: 9pt;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    display: inline-block;
}
